# Python
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/

# Django database
db.sqlite3

# Static files
staticfiles/

# Environment variables
.env

# Logs
*.log

# IDE/editor settings
.vscode/
.idea/

# Build artifacts
*.egg-info/
dist/
build/
